<!DOCTYPE hmtl>

<html>

  <head>
  </head>

  <body>

    <h1>Files</h1>
    <!-- make a canvas for each graph, with unique id  -->
    <ul>
    <% filenames.forEach(function(filename,index){ %>
      <li>
      <a href="<%= filename %>"  ><%= path = "/"+filename %>
          <% }) %>
      </li>
    </ul>



  </body>

</html>
